<div id="<%= dom_id purchaser %>">
  <p>
    <strong>First name:</strong>
    <%= purchaser.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= purchaser.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= purchaser.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= purchaser.phone %>
  </p>

</div>
