<p style="color: green"><%= notice %></p>

<h1>Payment</h1>
  <h3>You are purchasing <%= @order.quantity%> <%= "copy".pluralize(@order.quantity)%> of <%= @order.book.book_type%></h3>

  
    <form id="payment-form" data-id=<%= @order.id%>>
      <div id="card-container"></div>
      <button id="card-button" type="button">Pay <%= number_to_currency(@order.book.price) %></button>
    </form>
    <div id="payment-status-container"></div>
